# ======================
# OS & Environments
# ======================
.DS_Store
Thumbs.db
.env
.env.local

# ======================
# IDE
# ======================
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# ======================
# Python side
# ======================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
.coverage
htmlcov/

# ======================
# Java & Springboot
# ======================
target/
*.class
*.jar
*.war
.springBeans
.sts4-cache/
hs_err_pid*

# ======================
# MLOps & Infra
# ======================
mlruns/
.terraform/
*.tfstate
*.tfstate.backup
















